# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.Art for games Diorama.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\glaas\BitBucket repos\ArtForGamesDiorama\Diorama3D\Art for games Diorama\.idea\.idea.Art for games Diorama\.idea/dataSources/
/dataSources.local.xml
